:root {
    --border: rgba(140, 29, 50);
    --light: white;
    --background: rgba(7, 4, 21);
    --hover:  rgba(254, 141, 99);
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  background: linear-gradient(to bottom, var(--background), rgba(66,11,18,255));
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(66,11,18,255);
  margin: 0;
}

.bg-img {
  background-image: url("../images/bg_img.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  padding-bottom: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--light);
}

header h1 {
  display: inline-block;
  font-size: 55px;
  padding-top: 15px;
}

nav,
.Contact-Me {
  padding-top: 20px;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

nav ul,
.Contact-Me ul {
  list-style-type: none;
}

nav ul li,
.Contact-Me ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: var(--light);
  text-decoration: underline;
}

p {
  font-size: 16px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.card {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  width: 100%;
  margin: 0;
  color: var(--light);
}

.card h2 {
  background-color: var(--background);
  border-top: 5px solid var(--border);
  border-bottom: 5px solid var(--border);
  margin-bottom: 20px;
  font-size: 36px;
  padding: 20px;
  padding-left: 40px;
}

.card p {
  padding: 20px;
}



.About-Me {
  width: 100%;
  height: 550px;
  margin-top: -20px;
}

/* .About-Me h2 {
  padding-right: 40px;
} */

.About-Me p { 
  /* margin-right: 20px; */
  width: 100%;
  margin-left: -25px;
  margin-top: 30px;
}

.avatar {
  display: block;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-left: -50px;
  margin-right: -85px;
  margin-top: -100px;
  /* margin-bottom: -100px; */
}

.profile-img {
  transform: scale(0.5);
  border: 5px solid var(--border);
  box-shadow: inset 0px 0px 8px
   var(--border), 0 0 20px
   var(--background);
}


.Work {
  width: 100%;
  color: var(--light);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 45px;
}

.code-card {
  border-style: solid;
  border-color: var(--border);
  border-width: 2px;
  padding: 10px;
  flex: 0 0 400px;
  height: 250px;
  width: 350px;
  margin: 40px;
}

.card-header {
  margin-top: -30px;
  font-size: 20px;
  border-style: solid;
  border-color: var(--border);
  color: var(--light);
  background: var(--background);
  border-width: 2px;
  padding: 10px;
  text-align: center;
}

.muvd {
  background-image: url(../images/muvd.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.weather-dash {
  background-image: url(../images/ScreenCapture-WeatherDashboard.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-scheduler {
  background-image: url(../images/ScreenCapture-WorkDayScheduler.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.code-quiz {
  background-image: url(../images/ScreenCapture-CodeQuiz.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* .TBA {
  background: rgba(7, 4, 21, 0.5);
} */

.Contact-Me {
  width: 100%;
  height: 325px;
}

.contact-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 50px;
}

.contact-links li {
  margin: 30px;
}

.Resume {
  margin-top: 80px;
  height: 350px;
  width: 100%;
}

.Resume p {
  text-align: center;
  font-size: 25px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}


/* Pseudo-elements */
.code-card,
.card-header {
    transition: all 0.5s ease-in-out;
}

.profile-img:hover,
.profile-img:hover .profile-img {
  transition: all 0.5s ease-in-out;
  transform: scale(0.55);
}

.code-card:hover, 
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px
   var(--hover), 0 0 15px
   var(--hover);
   border-color:  var(--hover);
}

.code-card:hover, 
.code-card:hover {
  transform: scale(1.1);
}

a:hover, 
a:hover a {
   text-shadow: 0 0 15px var(--hover);
   color: var(--hover); 
}

.refactor:hover,
.refactor:hover .refactor {
  background-image: linear-gradient(rgba(254, 141, 99, 0.25), rgba(254, 141, 99, 0.25)), url(../images/ScreenCapture001-Horiseon-SocialSolutionServices-briannawoodruff.github.io.jpg);
}

.cheatsheet:hover,
.cheatsheet:hover .cheatsheet {
  background-image: linear-gradient(rgba(254, 141, 99, 0.25), rgba(254, 141, 99, 0.25)), url(../images/ScreenCapture-CSS-SnippetCheatsheet.jpg);
}

.Contact-Me p:hover, 
.Contact-Me p:hover .Contact-Me p {
   text-shadow: 0 0 15px var(--hover);
   color: var(--hover); 
}


/* Select */
.all {
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
  text-decoration: underline;
}


/* Media Queries */
@media only screen and (max-width: 768px) {
    body,
    main {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .About-Me {
      display: flex;
      flex-wrap: wrap;
      display: block;
      flex-direction: column;
      height: 800px;
    }

    .avatar {
      display: flex;
      flex-wrap: wrap;
      float: none;
      justify-content: center;
      margin-left: 0px;
      margin-top: -100px;
      margin-right: 0;
      margin-bottom: -125px;
    }

    section {
      text-align: center;
    }

    .About-Me p {
      flex-direction: column;
      text-align: center;
      margin-left: 0px;
      margin-top: 0px;
    }

    .Work {
      margin-top: 25px;
    }

     .Contact-Me {
      height: 350px;
    }

    .Resume {
      height: 300px;
    }
}

@media only screen and (max-width: 576px) {
    body,
    main {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    header h1 {
      text-align: center;
    }

    nav ul li {
      padding: 25px;
    }

    ul {
      text-align: center;
      margin-left: -25px;
    }

    .avatar {
      display: flex;
      flex-wrap: wrap;
      float: none;
      justify-content: center;
      margin-left: 0px;
      margin-top: -100px;
      margin-right: 0;
      margin-bottom: -125px;
    }

    .About-Me {
      display: flex;
      flex-wrap: wrap;
      display: block;
      flex-direction: column;
      margin-bottom: 65px;
      margin-top: 30px;
      height: 625px;
    }

    section {
      text-align: center;
    }
 
    .About-Me h2 {
      margin-top: -75px;
      text-align: center;
    }

    .About-Me p {
      flex-direction: column;
      text-align: center;
      margin-left: 0px;
      margin-top: 0px;
    }

    .muvd {
      margin-top: 50px;
    }

    .contact-links {
      text-align: center;
      margin-top: -10px;
      margin-left: 25px;
    }
  }